.box1 {
    width: 100px;
    height: 100px;
    float: right;
    background: red;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.box1:hover {
    width: 300px;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: #0000FF;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}

.box2:hover {
    background-color: #FFCCCC;
    width:200px;
    height:200px;
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}